*{
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #dcdcdc;
}

.wrp{
  width: 100%;
  max-width: 1100px;
  display: flex;
  margin: 0 auto;
}

body{
  background-color: #f5f5f5;
}

header{
  width: 100%;
  background-color: #222021;
  font-family: 'Roboto', sans-serif;
}

nav{
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo{
  width: 75px;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.links{
  display: flex;
  gap: 15px;
}

.links a{
  font-size: .85rem;
}

.socials{
  display: flex;
  gap: 5px;
}

.socials a img{
  width: 35px;
  transition: all .3s ease;
}

.socials a:hover img{
  transform: scale(1.1);
}

.btn{
  padding: 10px 20px;
  background-color: #074963;
  border-radius: 5px;
  font-size: .9rem;
  font-weight: 500;
  transition: all .3s ease;
  color: #f5f5f5;
}

.btn:hover{
  background-color: #f5f5f5;
  color: #000000;
}

.hero{
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(180deg, #000000b7, #00000043), url(./img/herobg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  font-family: 'Times New Roman', Times, serif;
}

.content{
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f5f5f5;
  text-align: center;
}

.content h1{
  font-size: 6rem;
  font-weight: 400;
  margin-bottom: 15px;
}

.content p{
  font-size: 1.5rem;
  font-weight: 100;
}

.ctn{
  width: 100%;
  background-color:#074963;
  padding: 80px 0;
}


.testimony{
  width: 80%;
  text-align: center;
  color: white;
  margin: 0 auto;
}

.testimony p{
  font-size: 1.7rem;
  line-height: 1.5;
  margin-bottom: 40px;
  font-family:'Times New Roman', Times, serif;
  }

.testimony p:nth-child(2){
  font-size: 1.3rem;
}


.slide3 {
  display: flex;
  align-items: center;
  background-color: #074963;
} 
.agent-text h2{
text-align: center;
}


.agent-text {
  text-align: left;
  font-size: 20px;
  text-align: justify;
  margin-left: 60px;
  margin-right: 60px;
  color: white;
 
  
}

.agent-image {
  margin-left: auto;
  height: fit-content;
  
}

.agent-image img {
  max-width: 700px; 
  height: auto; 
}

.container {
  max-width: 100%; /* Adjust the container width as needed */
  
  
}

.service-text{
  background-color: #f2f2f2; /* Adjust the background color as needed */
  text-align: center;
  
}

.service {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  padding: 2em;
  /* flex-direction: row; */
  /* justify-content: center;
  align-items: center;   */
  /* flex-direction: column-reverse;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; /* Adjust the gap between items */
  
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.item img {
  width: 100%; /* Adjust the image width as needed */
}

.item p {
  margin-top: 10px; /* Adjust the margin as needed */
  font-size: 1.3rem;
}



.form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 100px  20px;
  font-family: sans-serif;;
  background-color:#074963;
}
  
  .get-in-touch{
  width: 25%;
  color: white;
  }
  
  .get-in-touch h3{
  color: var(--logored);
  padding: 20px 0px;
  
  }
  
  .get-in-touch h1{
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 1.1;
  padding-bottom: 50px;
  }
  
  .contact-details{
  width: 100%;
  display: flex;
  padding-bottom: 20px;
  }
  
  .contact-details img{
  width: 14%;
  margin-right: 10px;
  }
  
  .contact-details h4{
  font-size: 1.2rem;
  font-weight: 600;
  }
  
  .contact-details p{
  font-size: 0.9rem;
  }
  
  form{
  width: 65%;
  color: white;
  }
  
  form h5{
  color: var(--logored);
  padding: 20px 0px;
  font-size: 1.1rem;
  }
  
  form h1{
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 1.1;
  padding-bottom: 20px;
  }
  
  form input{
  width: 45%;
  padding: 15px 5px;
  margin: 20px 0px;
  border: 2px solid rgba(0, 0, 0, 0.103);
  }
  
  
  
 
  .map-slide {
    display: flex;
    align-items: center; 
    background-color: rgb(226, 226, 248);   
  }

  .map-text {
    text-align: left;
    margin-left: 70px;
    margin-right: 15px;
    text-align: center;
  }

  .map {
    margin-left: auto;
  }

  .map iframe {
    width: 900px;
    height: 100; 
  }

  footer{
    padding: 50px 0px 0px 0px;
    background-color:#074963;
    font-family: sans-serif;
    gap: 2em;
    color: white;
    line-height: 2;
    letter-spacing: .3px;
    padding: 2em;      
    }
    
    .main{
    width: 100vw;
    flex-direction: row;
    display: flex;
    gap: 2em;  

    }
    
    .foot-text{
    width: 90%;
    padding-bottom: 50px;
    }
    
    .foot-text .logo img{
    width: 80%;
    }
    
    .foot-text .logo h2{
    font-size: 1.6rem;
    font-weight: 500;
    opacity: 95%;
    background-color: transparent;
    }
    
    .contacts{
    width: 50%;
    padding-bottom: 50px;
    }
    
    .footer-links{
    width: 50%;
    }

    .footer-links ul {
      list-style-type: none;
    }

      
    
    .copyright{
    width: 100%;
    flex-direction: column-reverse;
    
    }
    
    .copyright-t{
    width: 90%;
    }
    
    .icons{
    width: 30%;
    }
    
    
    .icons i{
    padding: 30px;
    } 
    
    
    
    
   